@import url("https://fonts.googleapis.com/css2?family=Arvo:ital@1&family=Koulen&display=swap");
body {
  font-family: 'Arvo', serif;
  font-family: 'Koulen', cursive;
  margin: 1.5em;
  padding: 1.5em;
}

a {
  text-decoration: none;
  font-size: 1.5rem;
}

.logo {
  text-decoration: none;
  font-size: 2.5rem;
  font-weight: bold;
  color: #3b3b3b;
  float: left;
  width: 50vh;
}

.logo :hover {
  text-decoration: underline;
}

.logo span {
  color: #f05010;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hero-img {
  width: 125vh;
  left: unset;
  right: 0;
  height: 65vh;
  background: url(../img/image.jpg);
  z-index: -1;
  overflow: hidden;
  background-size: cover;
  background-position-x: 60%;
  background-position-y: 40%;
}

section.hero {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #302f2f;
  margin-bottom: 3em;
}

h1 {
  text-align: center;
  font-size: 3rem;
  margin-top: 2em;
  line-height: 3.3rem;
}

.subhead {
  font-size: 1.35rem;
}

ul {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
  padding: 0;
  list-style-type: none;
}

ul a {
  color: #3b3b3b;
}

ul :hover {
  color: #f05010;
}

ul :active {
  color: #e28763;
}

.more-info {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.more-info img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 11em;
}

.more-info .title {
  font-weight: bold;
  font-size: 1.25rem;
}

.more-info .description {
  line-height: 1.5rem;
}

li {
  float: left;
}

li a {
  display: block;
  text-align: center;
  margin-left: 1.5em;
}

.feature {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto)[2];
      grid-template-columns: repeat(2, auto);
  gap: 2em;
  margin-bottom: 3em;
  margin-right: 5em;
}

.feature img {
  max-width: 25vh;
  width: 15em;
  height: 25vh;
}

.feature .content {
  text-align: right;
  width: 25em;
}

.feature.left {
      grid-template-areas: "left right";
}

.feature.left img {
  max-width: 25vh;
  width: 15em;
  height: 25vh;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: left;
}
/*# sourceMappingURL=main.css.map */